body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 10px;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    border: 5px solid black;
    padding-bottom: 10px;
    padding-right: 10px;
}

.output {
    text-align: right;
    font-size: 50px;
    background-color: transparent;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    color: black;
}

.keys {
    padding-left: 10px;
    gap: 3px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
}

.key {
    height: 70px;
    width: 70px;
    border-radius: 30px;
    background: transparent;
    background-color: gray;
    color: white;
    font-size: large;
}

.operator.plus{
    grid-row: span 2;
    height: 140px;
}

.ac, .c {
    background-color: black;
    color: white;
}

.operator, .decimal, .enter {
    height: 70px;
    width: 70px;
    border-radius: 30px;
    background: transparent;
    background-color:black;
    color: white;
    font-size: x-large;
}

.decimal {
    font-size: xx-large;
}

.enter {
    grid-column: span 2;
    width: 140px;
}

button {
    border: none;
}

@media (max-width: 600px) {
    .calculator {
        padding-bottom: 20px;
    }
    .output{
        padding-top: 20px;
    }
}